@import './base.css';
/*@import 'vue-simple-calendar/static/css/holidays-us.css';*/

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

th, td {
    padding: 8px;
}

.m-0-auto {
    margin: 0 auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-3 {
    margin-top: 3rem;
}

.p-3 {
    padding: 3rem;
}

.highlight {
    background-color: #c9beff;
}

.d-block {
    display: block;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .2rem;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
